* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* normally 1rem -> 16px, when font-size (in html) 62.5% then 1rem -> 10px*/
    background-color: black;
}

html,
body {
    height: 100%;
}

body,
input,
textarea,
button {
    font-family: "Suisse Intl", "S-CoreDream-3Light", sans-serif;
    font-size: 1.4rem;
}

body {
    margin: 0;
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
    outline: none;
    color: #fff;
}

a:hover {
    color: #2aaeba;
}

/* button {
  border: none;
  outline: none;
  text-align: center;
} */

img {
    width: 100%;
    height: auto;
}

a.logo h1,
a.logo h2 {
    font-size: 1.4rem;
    margin: 0;
}
